/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Staring Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
}

.hero div {
    width: 40%;
}

#hero-img {
    text-align: right;
}

.hero-content p {
    margin: 12px 0;
    color: #636363;
}

.hero button {
    padding: 8px 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, tomato, orange);
    border: none;
    border-radius: 5px;
}

.hero button:hover {
    opacity: .8;
}

/* About section */
.aboutus {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
}

.aboutus h1 {
    margin-bottom: 24px;
    text-transform: uppercase;
}

.aboutus p {
    width: 600px;
    color: #636363;
    margin-bottom: 24px;
}

.aboutus button {
    padding: 8px 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #27a7a7, #1a6e6e);
    border: none;
    border-radius: 5px;
}

/* Friends section */
.friends {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friends h1 {
    margin-bottom: 32px;
}

.friends>div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    width: 200px;
    background-color: #a52a2a28;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #8080808b;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    transition: .3s;
}

.card h4 {
    margin-bottom: 5px;
}

.card p {
    color: #636363;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

/* Contact Us section */
.contactus {
    height: 100vh;
    /* background-color: lightgray; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.contactus h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -100px;
}

.contactus>div {
    width: 35%;
}

.contactus p {
    color: #636363;
    margin-bottom: 24px;
}

.contactus button {
    padding: 8px 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #1e927a, #2dd6b4);
    border: none;
    border-radius: 5px;
}

.contactus form {
    text-align: center;
    padding: 30px 35px 20px;
    background-color: white;
    border: 1px solid #b5b5b5;
    box-shadow: 3px 3px 10px lightgrey;
}

.contactus form input,
.contactus form textarea {
    font-family: "Poppins",
        sans-serif;
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 8px;
}

.contactus form button {
    display: block;
    padding: 8px 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #1b5a81, #2371a1);
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

.social-icons a {
    margin-left: 5px;
}